<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="ali_affliates" id="ali_affliates">
			<module before="Magento_Backend" name="Ali_Affliates"/>
		</route>
	</router>
</config>
